# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Env
.env
backend/.env

# Uploads (IMPORTANTE)
backend/uploads/

# Test artifacts
.pytest_cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/